<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-topbar></app-topbar>
            <!-- End of Topbar -->
            <div class="container-fluid" style="margin-top :50px;">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"></h1>

                </div>


                <!-- Content Row -->

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col">
                        <div class="card shadow mb-4">

                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-dark">Liste des utilisateurs</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">


                                <form
                                    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                    <div class="input-group">
                                        <input (input)="filter($event.target.value)" type="text"
                                            class="form-control bg-light border-0 small"
                                            placeholder="  Recherche par prénom" aria-label="Rechercher..."
                                            aria-describedby="basic-addon2" size="100px">
                                        <div class="input-group-append">
                                            <button class="btn btn-info" type="button">
                                                <i class="fas fa-search fa-sm "></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>


                                <h2></h2>
                                <ul style="margin-left:10px; margin-right:10px;font-weight: 400;" _ngcontent-yjf-c31=""
                                    class="nav-tabs nav" ngbnav="" role="tablist">
                                    <li _ngcontent-yjf-c31="" ngbnavitem="" class="nav-item"><a _ngcontent-yjf-c31=""
                                            routerLink="/users/list" ngbnavlink="" id="ngb-nav-38"
                                            class="nav-link active" role="tab" aria-controls="ngb-nav-38-panel"
                                            aria-selected="true" aria-disabled="false"><i
                                                class="fas fa-user text-info"></i> Utilisateurs
                                            ({{usersList.length}})</a></li>
                                </ul>

                                <div class="row" style="margin-left:5px; margin-right:5px">
                                    <div class="col">
                                        <div *ngIf="usersList.length==0" class="alert alert-warning">aucun utilisateur
                                            trouvé
                                        </div>
                                        <table *ngIf="usersList.length>0" class="table table-sm">
                                            <thead style="color: #0e5355bd;font-size: 15px;">
                                                <tr>
                                                    <th>Nom</th>
                                                    <th>Prénom</th>
                                                    <th>Email</th>
                                                    <th>Date de création</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let user of usersList; let i = index ;">
                                                    <th>{{user.firstname}}</th>
                                                    <th>{{user.lastname}}</th>
                                                    <th>{{user.email}}</th>


                                                    <th>{{user.date | date:'dd/MM/yyyy'}}</th>

                                                    <th>

                                                        <!-- <a href="#" data-toggle="modal" data-target="#deleteModal"> -->

                                                        <button class="btn btn-danger mx-3"
                                                            (click)="delete(user)">Supprimer</button>
                                                        <button class="btn btn-warning"
                                                            [routerLink]="['/profile',user._id]">Modifier</button>
                                                    </th>
                                                </tr>

                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>

                        </div>


                        <!-- <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" -->
                        <!-- aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
                        <!-- <div class="modal-dialog" role="document"> -->
                        <!-- <div class="modal-content"> -->

                        <!-- <div _ngcontent-ykg-c20="" class="text-center p-2 ng-star-inserted"><i -->
                        <!-- _ngcontent-ykg-c20="" class="fas fa-exclamation-circle" -->
                        <!-- style="font-size: 80px;margin-top: 19px; color: red !important"></i> -->
                        <!-- <h2 class="swal2-title" id="swal2-title" -->
                        <!-- style="display: flex; margin-top:-40px ; margin-left: 76px;color: black;"> -->
                        <!-- Êtes-vous sûr ?</h2> -->
                        <!-- <div id="swal2-content" style="display: block;color: black;"> -->
                        <!-- Cet utilisateur sera supprimé.</div> -->
                        <!-- <br> -->

                        <!-- <button style="font-weight:bold;color: #fff;background-color:rgba(28, 192, 110, 0.808);margin-right: 10px; margin-bottom: 50px;"  -->
                        <!-- id="closeModalButton" data-toggle="modal"data-target="#deleteModal" class="btn btn-default"                           -->
                        <!-- data-dismiss="modal">Annuler</button> -->
                        <!-- <a style="border: 0; -->
                        <!-- /* border-radius: .25em; */ -->
                        <!-- /* margin-bottom: 50px; */ -->
                        <!-- /* background: initial; */ -->
                        <!-- /* background-color:rgba(28, 192, 110, 0.808); */ -->
                        <!-- /* color: #fff; */ -->
                        <!-- /* font-size: 1.0625em;" class="btn btn-success" (click)="delete(user)" >Approuver </a> */ -->



                        <!-- </div> -->
                        <!--                                      -->

                    </div>
                </div>

            </div>
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->









    <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->


<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>