<!-- Top Bar Start -->
<div class="top-bar d-none d-md-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="top-bar-left">
                    <div class="text">
                        <i class="far fa-clock"></i>
                        <h2>8:00 - 18:00</h2>
                        <p>lundi - vendredi</p>
                    </div>
                    
                    
                    
                    
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="top-bar-right">
                    <div class="social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar End -->

<!-- Nav Bar Start -->
<div class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <img class="ont" src="/assets/img/ontt.png" width="3%">
        <a href="index.html" class="navbar-brand">Office National de la Télédiffusion</a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="index.html" class="nav-item nav-link ">Accueil</a>

                <a routerLink="/services" class="nav-item nav-link active">Services</a>
                <a routerLink="/contact" class="nav-item nav-link ">Contact</a>
                <a routerLink="/login" class="nav-item nav-link"> Se connecter </a>
                <a routerLink="/registre" class="nav-item nav-link">S'inscrire</a>




            </div>
        </div>
    </div>
</div>
<!-- Nav Bar End -->
<div class="single mt-125">
            <div class="container">
                <div class="section-header">
                   
                    <h2>Transmission DSNG</h2>
                    
                </div>
                <div class="row">
                    <div class="col-12">
                        <img src="/assets/img/dsng.jpg" alt="Image">
                       
                        <h4>Transmission sur satellite via DSNG:</h4>
                        <p>L’ONT assure à la demande de ses clients les services suivants :</p>
   
                        <ul class="ul-group">
                            <li>L’ONT offre à tout organisme radio ou TV national ou étranger, préalablement autorisé, des transmissions  par satellite à travers la station terrienne transportable type DSNG, opérant dans les bandes KU et C, à travers  les satellites couvrant la Tunisie.</li>
                            <li>Pour la location des services de transmission par utilisation de la station terrienne transportable type DSNG, le client établira sa demande , 48 heures avant le début de la transmission.</li>
                            <li>La réservation du segment spatial sera assurée par l’ONT ou par le client. Les frais y afférents sont à la charge du client.</li>
                            <li>Les coûts de location sont ceux en vigueur et appliqués par l’ONT.</li>
                           
                        </ul>
                      <h4>Tarifs en vigueur a partir de l’année 2018</h4>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>DURÉE RÉSERVÉE</th>
                                    <th>DURÉE EFFECTIVE DE LA TRANSMISSION</th>
                                    <th>COÛT EN DT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1 Journée</td>
                                    <td>4 heures maximum</td>
                                    <td>3.000,000</td>
                                </tr>
                                <tr>
                                    <td>½ journée (Grand Tunis)</td>
                                    <td>2 heures maximum</td>
                                    <td>2.000,000</td>
                                </tr>
                                <tr>
                                    <td>Une heure (Grand Tunis)</td>
                                    <td>60 minutes</td>
                                    <td>1.400,000</td>
                                </tr>
                                <tr>
                                    <td>Quart d’heure supplémentaire	</td>
                                    <td>15 minutes</td>
                                    <td>500,000</td>
                                </tr>
                            </tbody>
                        </table>
                        
                          <h4>Caractéristiques techniques</h4>
                        
                        <ul class="ol-group">
                            <li>Bande : KU (13,750 à 14,500 GHZ),</li>
                            <li>Modulation : digitale MPEG II 4.2.0,</li>
                            <li>Pire : 71 dbW,</li>
                            <li>Antenne : 1,50 – 1,80 m pétales en fibre de carbone.</li>
                            <li>Sécurisation automatique : équipement de transmission redondant en réserve active.</li>
                            <li>La station SNG de l’ONT comporte uniquement l’équipement de transmission, elle n’est pas munie d’équipements de prise de vues et de prise de son.</li>
                        </ul>
                       
                    </div>
                </div>
            </div>
        </div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-contact">
                            <h2>ONT</h2>
                            <p><i class="fa fa-map-marker-alt"></i>Cité Ennassim 1 Montplaisir BP399 Tunis-Cedex-Tunisie
                            </p>
                            <p><i class="fa fa-phone-alt"></i>+216-(71) 188 000</p>
                            <p><i class="fas fa-fax"></i>+216 (71) 904 923</p>
                            <p><i class="fa fa-envelope"></i>ont@telediffusion.net.tn</p>
                            <div class="footer-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-link">
                            <h2>Services</h2>

                            <a routerLink="/location-dsng">Transmission SNG</a>
                            <a routerLink="/infrastructures">Location des infrastructures</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="footer-newsletter">
                    <h2>lettre</h2>
                    <p>
                        Lorem ipsum dolor sit amet elit. Quisque eu lectus a leo dictum nec non quam. Tortor eu placerat
                        rhoncus, lorem quam iaculis felis, sed lacus neque id eros.
                    </p>
                    <div class="form">
                        <input class="form-control" placeholder="Email goes here">
                        <button class="btn">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>