<div class="top-bar d-none d-md-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="top-bar-left">
                    <div class="text">
                        <i class="far fa-clock"></i>
                        <h2>8:00 - 18:00</h2>
                        <p>lundi - vendredi</p>
                    </div>
                  
                  
                  
                  
                  
                </div>
            </div>
            <div class="col-md-4">
                <div class="top-bar-right">
                    <div class="social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar End -->

<!-- Nav Bar Start -->
<div class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">

        <img class="ont" src="/assets/img/ontt.png" width="3%">
        <a href="index.html" class="navbar-brand">Office National de la Télédiffusion</a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="index.html" class="nav-item nav-link ">Accueil</a>

                <a routerLink="/services" class="nav-item nav-link active">Services</a>
                <a routerLink="/contact" class="nav-item nav-link ">Contact</a>
                <a routerLink="/login" class="nav-item nav-link"> Se connecter </a>
                <a routerLink="/registre" class="nav-item nav-link">S'inscrire</a>




            </div>
        </div>
    </div>
</div>
<div class="single mt-125">
    <div class="container">
        <div class="section-header">
           
            <h2>Location des infrastructures</h2>
            
        </div>
        <div class="row">
            <div class="col-12">
                <img src="/assets/img/photo6.jpeg" alt="Image">
               
                
                <p>Dans le cadre de la colocalisation physique, l’ONT offre aux organismes autorisés, des espaces destinés à l’implantation de leurs équipements, particulièrement sur les points hauts du pays.<br>
                    Cette offre porte sur les facilités suivantes :
                </p>

                <ul class="ul-group">
                    <li>Des espaces aménagés à l’intérieur des locaux de ses centres de diffusion.</li>
                    <li>Des emplacements sur les pylônes ou les supports d’antennes.</li>
                    <li>La fourniture de l’énergie électrique.</li>
                    <li>Le gardiennage.</li>
                    <li>L’entretien des équipements, sur demande et selon une convention à définir par les deux parties.</li>
                   
                </ul>
              <h4>Tarifs en vigueur </h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>DÉSIGNATION</th>
                            <th>UNITÉ</th>
                            <th>COÛT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Frais d’implantation (payable une seule fois)</td>
                            <td>Station</td>
                            <td>824 DT</td>
                        </tr>
                        <tr>
                            <td>Frais d’occupation (volume et surface aliénés par les équipements abrités)	</td>
                            <td>m 2 /an</td>
                            <td>1575 DT</td>
                        </tr>
                        <tr>
                            <td>Coût d’utilisation du pylône</td>
                            <td>Antenne/an</td>
                            <td>2163 DT</td>
                        </tr>
                        <tr>
                            <td>Coût de l’énergie électrique	</td>
                            <td>Kwh</td>
                            <td>0.372 DT</td>
                        </tr>
                        <tr>
                            <td>Maintenance préventive routinière des locaux</td>
                            <td>Station/an</td>
                            <td>2034 DT</td>
                        </tr>
                    </tbody>
                </table>
                
                  
               
            </div>
        </div>
    </div>
</div>

<div class="footer">
<div class="container">
<div class="row">
    <div class="col-lg-7">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-contact">
                    <h2>ONT</h2>
                    <p><i class="fa fa-map-marker-alt"></i>Cité Ennassim 1 Montplaisir BP399 Tunis-Cedex-Tunisie
                    </p>
                    <p><i class="fa fa-phone-alt"></i>+216-(71) 188 000</p>
                    <p><i class="fas fa-fax"></i>+216 (71) 904 923</p>
                    <p><i class="fa fa-envelope"></i>ont@telediffusion.net.tn</p>
                    <div class="footer-social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer-link">
                    <h2>Services</h2>

                    <a routerLink="/location-dsng">Transmission SNG</a>
                    <a routerLink="/infrastructures">Location des infrastructures</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="footer-newsletter">
            <h2>lettre</h2>
            <p>
                Lorem ipsum dolor sit amet elit. Quisque eu lectus a leo dictum nec non quam. Tortor eu placerat
                rhoncus, lorem quam iaculis felis, sed lacus neque id eros.
            </p>
            <div class="form">
                <input class="form-control" placeholder="Email goes here">
                <button class="btn">Submit</button>
            </div>
        </div>
    </div>
</div>
</div>

</div>
